@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

body {
    background-color: #030925;
}



.titulo {
    color: #EBF5FF;
    font-family: "Quando", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
}



.agrupamento {
    display: flex;
    margin-left: 30%;
    margin-top: 10%;
}



.agrupamento-input {
    margin-left: 30%;
}


.agrupamento-links {
    margin-left: 45%;
}

.link {
    margin-left: 40px;
    background-color: #233DE1;
    padding: 5px;
    text-decoration: none;
    color: #EBF5FF;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

.link-login {
    margin-left: 40px;
    background-color: #233DE1;
    padding: 13px;
    text-decoration: none;
    color: #EBF5FF;
    border-radius: 8px;
    width: 1520px;
    text-align: center;
}

.inputs {
    border: 2px solid #4D77FF;
    border-radius: 8px;
    padding: 10px 25px;
    background: transparent;
    width: 65%;
    display: block;
}
