<link href="~/css/Cadastro.css" rel="stylesheet" type="text/css" />

<div class="agrupamento">
    <h1 class="titulo">EcoOcean</h1>
</div>

<h2 class="subtitulo">Se registre para ajudar na coleta mundial!</h2>

<div class="agrupamento-input">
    <input class="inputs" placeholder="Username" />
    <br />
    <input class="inputs" placeholder="Email" />
    <br/>
    <input class="inputs" placeholder="Password" />
</div>

<div class="agrupamento-links">
    <a class="link-login">Registrar</a>
</div>
