<!DOCTYPE html>
<html>
<head>
    <title>Coleta</title>
    <link href="~/css/Coleta.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">
    </div>
    <h1 class="titulo">Coleta</h1>
    <div class="agrupamento-input">
        <input class="inputs" type="text" id="volunteerId" name="volunteerId" placeholder="ID do Voluntário">
        <input class="inputs" type="text" id="weight" name="weight" placeholder="ID Evento">
    </div>
    <p class="subtitulo">Informe a pesagem da coleta em kg:</p>
    <div class="agrupamento">
        <div class="item">
            <img src="~/css/imgs/Matt Paper.png" alt="Papel">
            <input class="inputs" type="text" id="paper" name="paper" placeholder="Papel">
        </div>
        <div class="item">
            <img src="~/css/imgs/Beer can.png" alt="Metal">
            <input class="inputs" type="text" id="metal" name="metal" placeholder="Metal">
        </div>
        <div class="item">
            <img src="~/css/imgs/Broken Phone.png" alt="Vidro">
            <input class="inputs" type="text" id="glass" name="glass" placeholder="Vidro">
        </div>
        <div class="item">
            <img src="~/css/imgs/No Apple.png" alt="Orgânico">
            <input class="inputs" type="text" id="organic" name="organic" placeholder="Orgânico">
        </div>
    </div>
    <div class="agrupamento-links">
        <a href="#" class="link-login">Registrar</a>
    </div>
</body>
</html>
