<!DOCTYPE html>
<html>
<head>
    <title>EcoOcean</title>
    <link href="~/css/EventosAdm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">
    </div>
    <h1 class="titulo">Eventos</h1>
    <label class="nome">Nome:</label>
    <div class="agrupamento">
        <div class="image-placeholder">
            <img src="~/css/imgs/Placeholder.png" alt="Placeholder">
        </div>
        <div class="item">
            <table class="tabela" bgcolor="black" width="500">
                <tr bgcolor="grey" align="center">
                    <th width="100">CEP</th>
                    <th width="100">Estado</th>
                    <th width="100">Cidade</th>
                    <th width="100">Rua</th>
                    <th width="100">Complemento</th>
                    <th width="100">Data de Início</th>
                    <th width="100">Finalizar</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
