<link href="~/css/Login.css" rel="stylesheet" type="text/css" />


<div class="agrupamento">

    <h1 class="titulo">Entrar na <br /> EcoOcean</h1>


</div>

<br />
<br />

<div class="agrupamento-input">

    <input class="inputs" placeholder="Email" />
    <br />
    <input class="inputs" placeholder="Password" />

</div>

<br />

<div class="agrupamento-links">

    <a class="link-login">Login</a>
    <br /><br /><br />

</div>


