<!DOCTYPE html>
<html>
<head>
    <title>EcoOcean</title>
    <link href="~/css/PaginaInicial.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
        <img src="~/css/imgs/Logo.png" alt="Logo">
    </div>
    <h1 class="titulo">EcoOcean</h1>
    <div class="agrupamento">
        <button class="item">
            <img src="~/css/imgs/Vector.png" alt="Eventos">
            <span class="button-text">Eventos</span>
        </button>
        <button class="item">
            <img src="~/css/imgs/Search Database.png" alt="Histórico">
            <span class="button-text">Histórico</span>
        </button>
        <button class="item">
            <img src="~/css/imgs/Calendar Plus.png" alt="Novo Alerta">
            <span class="button-text">Novo Evento</span>
        </button>
        <button class="item">
            <img src="~/css/imgs/Recycle.png" alt="Coleta">
            <span class="button-text">Coleta</span>
        </button>
    </div>
</body>
</html>
